html
  font-size: 100%

body
  background: var(--body-bg)
  color: var(--body-fg)
  font-family: $family-body
  +fluid-type($breakpoint-mobile, $breakpoint-touch, 16px, 20px)
  font-size: 19px
  line-height: 1.6

.container
  max-width: 800px
  margin: 0 auto
  box-sizing: border-box

  @media screen and (max-width: 800px)
    width: 100%
    padding: 20px

