.header
  text-align: center

.header__sitename
  color: var(--emph-text)
  text-decoration: none
  +fluid-type($breakpoint-mobile, $breakpoint-touch, 26px, 44px)

  &:hover
    text-decoration: underline
