@import variables
@import palette
@import base
@import header
@import post

=dark
  @media (prefers-color-scheme: dark)
    @content

=absolutely-centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

iframe
  max-width: 100%
