.tags
  margin-top: .5em
  font-size: .7em

.tags__label
  display: inline-block
  margin-right: .2em

.tags__tag
  &:link, &:focus, &:visited
    color: var(--tag-fg)
  background: var(--tag-bg)
  border: 1px solid var(--surface-border)
  display: inline-block
  margin-left: .4em
  padding: .1em .4em
  border-radius: .2em
